---
import {HTMLAttributes} from "astro/types";
export interface Props extends HTMLAttributes<'button'> {
    text?: string;
}

const {text, ...props} = Astro.props;
---

<button class="px-5 shadow-[0_3px_5px_2px_rgba(0,0,0,0.3)] py-2.5 rounded-sm text-white bg-dark-blue" {...props}>{text}</button>