---
const { icon, text } = Astro.props;
---

<div class="flex flex-col items-center">
    <div class="flex justify-center items-center rounded-full bg-blue shadow-lg w-16 h-16">
        <img class="w-9 h-8" src={icon} alt="Icon"/>
    </div>
    <p class="mt-4 font-bold text-lg">{text}</p>
</div>