---
import ExpertiseSectionBackground from "../../assets/expertise-section-background.png";
import AppFeatures from "../../assets/app-features.png";
import PanelSvg from "../shared/PanelSvg.astro";
---

<div class="relative overflow-hidden">
    <svg class="absolute right-0 top-20 -z-10 w-[56%] max-h-[500px]" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 831 519" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M485.266 0.432885C566.157 2.60019 641.738 17.5197 714.817 36.77C792.669 57.2779 885.744 73.6756 924.599 116.162C963.362 158.548 922.146 208.736 915.364 256.061C909.13 299.567 923.551 345.26 886.253 383.749C848.533 422.674 776.88 446.397 708.607 469.419C638.958 492.905 566.883 518.036 485.266 518.965C403.056 519.901 321.795 502.159 256.539 474.565C194.879 448.492 171.976 405.27 130.608 368.996C87.4553 331.158 22.3976 299.985 7.34661 256.061C-8.86973 208.736 1.11709 157.499 43.7305 115.461C86.542 73.2271 163.143 44.7797 242.468 24.1143C318.071 4.4183 401.752 -1.80473 485.266 0.432885Z" fill="#0096D7"/>
    </svg>
    <PanelSvg class="absolute top-96 left-0 xl:right-96 -z-10"/>
    <div class="container max-w-container pb-5">
        <div class="w-full pt-14 lg:pt-24 pb-44 lg:pb-24 flex">
            <div class="hidden lg:block lg:w-1/2">
                <img src={AppFeatures} alt="App screenshot"/>
            </div>
            <div class="lg:pl-20 pt-24 lg:w-1/2">
                <h2 class="text-4xl text-white font-bold mb-10">Zakaj izbrati <span class="text-yellow">nas</span>?</h2>
                <p class="text-white mt-5 text-lg">Aplikacija, namenjena lastnikom zelenih elektrarn in organizacijam,
                    ki želijo boljši vpogled v statistiko proizvodnje električne energije.
                    S pomočjo naprednih tehnlogij lahko napovemo proizvodnjo različnih
                    sončnih elektrarn. Naše storitve omogočajo, natančen in prilagodljiv
                    pregled nad podatki, za nazaj ter za vnaprej.</p>
            </div>
        </div>
    </div>
</div>