---
const { icon, title, description } = Astro.props;
---

<div class="flex h-44  sm:h-56 md:h-48 py-6 px-4 rounded-3xl shadow-[3px_3px_11px_2px_rgba(168,168,168,0.3)] hover:scale-110 duration-75">
    <div>
        <div class="flex justify-center items-center rounded-full bg-yellow w-10 h-10 shadow-md">
            <img class="w-5 h-5" src={icon} alt="Icon"/>
        </div>
    </div>
    <div class="ml-4 mt-1 mr-2">
        <h3 class="text-lg font-bold">{title}</h3>
        <p class="mt-2 text-md">{description}</p>
    </div>
</div>