---
import HeroTopCornerBackground from '../../assets/hero-top-corner-background.png';
import Button from '../shared/Button.astro';
import HeroImage from '../../assets/building-solar-panels.png';
import { t} from "i18next";
import { Trans } from "astro-i18next/components";
---

<div>
  <img
    class="absolute top-0 left-0 -z-10 w-1/2 min-w-[700px] min-h-[670px]"
    src={HeroTopCornerBackground}
    alt="UI element"
  />
  <div class="flex container max-w-container pt-10 pb-36 z-10">
    <div class="flex items-center pl-36 lg:w-1/2 absolute right-10 z-0">
      <img
        class="opacity-10 lg:opacity-100"
        src={HeroImage}
        alt="Web app design and features"
      />
    </div>
    <div class="lg:w-1/2 relative pt-10">
      <h1 class="text-6xl font-bold text-white mb-8 pr-20">
      <Trans i18nKey="index.hero.title">
         Vedno v stiku z vašo <span class="text-yellow">energijo</span>
      </Trans>
      </h1>
      <p class="text-white text-xl mb-12">{t('index.hero.description')}</p>
      <Button class="mt-8" text={t('index.hero.button')} />
    </div>
  </div>
</div>
