---
import PanelSvg from "../shared/PanelSvg.astro";
---

<div class="flex items-center flex-col w-full mt-24 md:mt-56 pb-20 relative overflow-hidden" id="w4c-aboutus">
    <h2 class="text-4xl font-bold my-5">Naša vizija</h2>
    <div class="w-40 h-1 bg-yellow"></div>
    <p class="opacity-70 text-center mt-12 text-base w-2/3 md:w-1/2 md:text-lg">Uporabniki lahko z našimi storitvami planirajo svojo porabo in prilagodijo
        potrebe glede na napovedano proizvodnjo. Vpogled v statistiko omogoča
        razumevanje porabe električne energije in njenega vpliva na okolje.</p>
    <PanelSvg class="absolute -right-2 -translate-y-12 xl:-translate-y-5" />
    <PanelSvg color="#0096D7" class="absolute -left-2 -bottom-16 xl:bottom-0 translate-y-5" />
</div>