---
import PanelSvg from "./PanelSvg.astro";
import MailIcon from "../assets/mail-icon.png";
---
<div class="pt-20 z-0">
    <PanelSvg class="w-10 ml-20 -m-10" color="#C9C9C9"/>
    <div class="bg-blue relative z-50">
        <div class="container max-w-container pt-14 pb-4">
            <p class="text-white mb-4">Spletna aplikacija</p>
            <p class="text-white mb-4">Mobilna aplikacija</p>
            <p class="text-white">O nas</p>
            <div class="flex justify-center pt-3">
                <p class="opacity-50 text-white">Copyright © 2023 FERI <br/> All rights reserved.</p>
            </div>
        </div>
        <div class="flex items-center absolute left-10 right-10 top-0 sm:right-20 -translate-y-1/2 rounded-xl bg-dark-blue py-4 px-7">
            <h3 class="text-white font-bold text-lg">Kontaktirajte nas na</h3>
            <img class="ml-8 mr-2 mt-1 w-6 h-5" src={MailIcon} alt="Mail icon"/>
            <p class="text-yellow">moja-energija@info.si</p>
        </div>
    </div>
</div>