---
import LightningIcon from '../assets/lightning.png'
---
<div class="bg-blue">
    <div class="flex justify-between container max-w-container pt-14 pb-5">
        <div class="flex">
            <p class="text-2xl font-bold text-white">Moja</p>
            <img class="mx-1" src={LightningIcon} alt="Lightning icon">
            <p class="text-2xl font-bold text-white">Energija</p>
        </div>
        <div class="flex">
            <p class="text-white mr-7">O nas</p>
            <p class="text-white mr-7">Funkcionalnosti</p>
            <p class="text-white">Kontakt</p>
        </div>
    </div>
</div>