---
import HeroBackground from '../assets/hero-background.png'
import Button from "./Button.astro";
import HeroImage from '../assets/hero.png'
---

<div class="bg-blue relative">
    <img class="absolute -bottom-1 z-0 w-full" src={HeroBackground} alt="Screenshot of our application" />
    <div class="flex container max-w-container pt-28 pb-36 z-10">
        <div class="pl-5 pt-10 lg:w-1/2 absolute right-10 z-0">
            <img class="opacity-10 lg:opacity-100" src={HeroImage} alt="Web app design and features"/>
        </div>
        <div class="lg:w-1/2 relative">
            <h1 class="text-6xl font-bold text-white mb-8">Vedno v stiku z <br/> vašo <span class="text-yellow">energijo</span></h1>
            <p class="text-white text-xl mb-12">Pametno napovedovanje proizvodnje energije vaše domače sončne elektrarne. Pregled in nadzor podatkov na dosegu roke.</p>
            <Button class="mt-8" text="Pojdi na aplikacijo"/>
        </div>
    </div>
</div>