---
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";
import "../base.css";
const { title } = Astro.props
---
<html lang="sl">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aplikacija Watt4cast, namenjena lastnikom zelenih elektrarn in organizacijam, ki želijo boljši vpogled v statistiko proizvodnje električne energije. S pomočjo naprednih tehnologij lahko napovemo proizvodnjo različnih sončnih elektrarn. Naše storitve omogočajo, natančen in prilagodljiv pregled nad podatki, za nazaj ter za vnaprej.">
    <meta name=”robots” content="index, follow">
    <title>{title}</title>
</head>
<body class="overflow-x-hidden">
    <Header />
    <slot/>
    <Footer/>
</body>
</html>